/* Importar todos los archivos CSS */
@import url('./variables.css');
@import url('./forms.css');
@import url('./header.css');
@import url('./responsive.css');
@import url('./Footer.css');
@import url('./newsHomeList.css');
@import url('./newsList.css');
@import url('./singleArticle.css');
@import url('./LadderRecordList.css');
@import url('./profile.css');
@import url('./SocialShareButtons.css');
@import url('./NewRecordPage.css');
@import url('./RecordPage.css');
@import url('./DonationsComp.css');
@import url('./MerchComp.css');
@import url('./WordsComp.css');


/* Estilos generales básicos */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    overflow-x: hidden;
    margin: 0; /* Ensure no margin pushes content */
    padding: 0; /* Ensure no padding pushes content */
}

#root {
    min-height: 100vh; /* Use 100vh for full viewport height */
    display: flex;
    flex-direction: column;
    margin: 0; /* Ensure no margin on root */
    padding: 0; /* Ensure no padding on root */
}

main {
    flex: 1 0 auto; /* Allows main to grow and push footer down */
    margin: 0; /* Ensure no margin pushes content */
    padding: 0; /* Ensure no padding pushes content */
}

/* Ensure section and other main content elements don’t disrupt layout */
main > * {
    margin: 0;
    padding: 0;
}

/* Ajuste específico para Login */
.login-container {
    max-width: 400px;
}

.single-article {
  border: var(--border-gold);
  margin-bottom: 10px;
}

.news-card {
  border: var(--border-gold);
  padding: 2%;
}