@import url('./variables.css');

.merch-data {
    float: left;
    width: fit-content;
    position: relative;
    padding: 20px;
    background-color: var(--form-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
    border: var(--border-gold);
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 5%;
}


.merch-data img{
  width: 60vw;
}


.merch-container {
    margin-bottom: 20px;
}

.merch-title {
    margin-top: 4%;
}



@media (max-width: 768px) { 

    .merch-data {
        float: left;
        width: 80%;
        position: relative;
        margin-left: 5%;
        margin-right: 10%;
        padding: 20px;
        background-color: var(--form-color);
        border-radius: 8px;
        box-shadow: 0 4px 8px var(--shadow-color);
        border: var(--border-gold);
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .merch-data img{
        width: 100%;
      }
      
    
    .donations-support {
        
        position: relative;
        margin: 0 auto;
        padding: 20px;
        background-color: var(--form-color);
        border-radius: 8px;
        box-shadow: 0 4px 8px var(--shadow-color);
        border: var(--border-gold);
        display: flex;
        flex-direction: column;
        width: fit-content;
        float: none;
    }
    
    .donations-support img{
        
    width: 100%;
    }


 }